html{
    scroll-behavior: smooth;
}

/* dummy div */
.dump{
    height: 1000px;
    background-color:white;
}

/* main body */
#mainBody{
    margin-top: 220px;
    background-color: white;
}

/* top text */

.topText{
    text-align: center;
    font-family: poppins;
    font-size: 30px;
}

/* Category section */

.categoryText{
    font-size: 30px;
    text-align: center;
    
}

.Category{
    display: grid;
}
